pierrezemb.fr {
	gzip
	tls contact@pierrezemb.fr
	git github.com/PierreZ/portfolio
	root /srv/pierre
	proxy /api 172.17.42.1:8080
}

watremez.fr{
	gzip
	tls watremez.steven@gmail.com
	git github.com/StevenWatremez/Resume-web-site
	root /srv/watremez
}

guyyannmorvan.fr {
	gzip
	tls refranguy@gmail.com
	git github.com/guy-yann/portyolo
	root /srv/gy
}

space.youcode.io {
	proxy / 172.17.42.1:8046
}
