pierrezemb.fr {
	gzip
	tls contact@pierrezemb.fr
	git github.com/PierreZ/portfolio
	root /srv/pierre
}

beta.pierrezemb.fr {
	gzip
	tls contact@pierrezemb.fr
	git github.com/PierreZ/portfolio-polymer
	root /srv/pierre-polymer
}

watremez.fr {
	gzip
	tls watremez.steven@gmail.com
	git github.com/StevenWatremez/Resume-web-site
	root /srv/watremez
}

guyyannmorvan.fr {
	gzip
	tls refranguy@gmail.com
	git github.com/guy-yann/portyolo
	root /srv/gy
}

space.youcode.io:80 {
	tls off
	proxy / 172.17.42.1:8046
}

status.pierrezemb.fr {
	tls contact@pierrezemb.fr
	proxy / pierrezemb.fr:8080
}
