[Unit]
Description=cAdvisor Service
After=docker.service
Requires=docker.service
[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm -f cadvisor
ExecStartPre=/usr/bin/docker pull google/cadvisor
ExecStart=/usr/bin/docker run -e VIRTUAL_HOST=status.pierrezemb.fr   --volume=/cgroup:/cgroup:ro --privileged=true  --volume=/:/rootfs:ro   --volume=/var/run:/var/run:rw   --volume=/sys:/sys:ro   --volume=/var/lib/docker/:/var/lib/docker:ro   --publish=8080:8080   --name=cadvisor   google/cadvisor:latest
ExecStop=/usr/bin/docker stop -t 2 cadvisor

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
