[Unit]
Description=Ethereum node
After=docker.service
Requires=docker.service

[Service]
user=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill ethereum
ExecStartPre=-/usr/bin/docker rm ethereum
ExecStartPre=/usr/bin/docker pull ethereum/client-go:latest
ExecStart=/usr/bin/docker run -p 8545:8545 -p 30303:30303 ethereum/client-go --rpc
ExecStop=/usr/bin/docker stop ethereum
