[Unit]
Description=People in Space proxy
After=proxy.service
Requires=docker.service

[Service]
user=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill peopleinspace
ExecStartPre=-/usr/bin/docker rm peopleinspace
ExecStartPre=/usr/bin/docker pull pierrezemb/peopleinspace:latest
ExecStart=/usr/bin/docker run -p 8046:3000 --name peopleinspace pierrezemb/peopleinspace
ExecStop=/usr/bin/docker stop peopleinspace
