[Unit]
Description=CityzenData
After=proxy.service
Requires=docker.service

[Service]
user=core
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill warp
ExecStartPre=-/usr/bin/docker rm warp
ExecStartPre=/usr/bin/docker pull docker pull pierrezemb/warp10-docker:latest
ExecStart=/usr/bin/ docker run --volume=/var/warp10:/data --name warp -p 8070:8080 -p 8071:8081 pierrezemb/warp10-docker:latest
ExecStop=/usr/bin/docker stop warp
