[Unit]
Description=website-youcode
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill website-youcode
ExecStartPre=-/usr/bin/docker rm website-youcode
ExecStartPre=/usr/bin/docker pull pierrezemb/website-youcode:latest
ExecStart=/usr/bin/docker run-p 1234:8080 --name website-youcode pierrezemb/youcode-frontend
ExecStop=/usr/bin/docker stop website-youcode
